/* Globals */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

img-fluid {
  width: 100%;
}

/* Navbar */
.dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: -3px;
}

.dropdown-toggle::after {
  content: none;
}

.text:hover {
  color: rgb(177, 177, 201);
  background-color: rgb(250, 247, 50);
  border-color: saddlebrown;
}

.nav-link {
  clip-path: ellipse();
  -webkit-transition: 1000ms linear;
  -ms-transition: 1000ms linear;
  transition: 1000ms linear;
}

@media (max-width: 575px) {
  .arrow {
  visibility: hidden;
  }
}

.arrow {
  color: rgb(250, 247, 50);
  font-size: 30px;
  position: relative;
}

/* Main-Content */

.title:hover {
  color: rgb(67, 67, 77);
  -webkit-transition: color 1000ms linear;
  -ms-transition: color 1000ms linear;
  transition: color 1000ms linear;
}

.return:hover, .arrow-up:hover {
  color: rgb(45, 135, 252);
  -webkit-transition: color 1000ms linear;
  -ms-transition: color 1000ms linear;
  transition: color 1000ms linear;
}

p {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.fa-stack-1x {
  font-size: 25px;
}

.fa-github, .fa-linkedin {
  font-size: 1.5em;
}

.fa-github {
  color: #222;
}

div .fa-linkedin:hover {
  color: rgb(24, 63, 114)
  -webkit-transition: color 500ms linear;
  -ms-transition: color 500ms linear;
  transition: color 500ms linear;
}

/* About me/Copyright */
.link:hover {
  color: blue;
}

.copyright {
  font-size: 11px;
}